Repository ivan-demchenko/goalmet-browser-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: elm-format --yes, prettier --write

.lintstagedrc.json:

{
  "*.elm": "elm-format --yes",
  "*.{json,js,yml,css,md,html}": "prettier --write"
}

chore: implement rpc calls
  e2e/goals.spec.js
  e2e/rpc.spec.js
  src/Main.elm
  src/Rpc.elm
  src/app.js
Due: elm-format --yes, prettier --write

chore: fix editor settings
  .vscode/settings.json
Due: prettier --write

chore: cleaned up unused file
  pkg.sh
Due: none

chore: stick to TEA
  e2e/goals.spec.js
  elm.json
  src/Calendar.elm
  src/CalendarDay.elm
  src/DataModel.elm
  src/Day.elm
  src/DayNote.elm
  src/DayNotes.elm
  src/Goal.elm
  src/Goals.elm
  src/Main.elm
  src/Rpc.elm
  src/Utils.elm
Due: elm-format --yes, prettier --write

chore: cleanup the code
  elm.json
  src/Goal.elm
  src/Utils.elm
Due: elm-format --yes, prettier --write

chore: version bump
  manifest.json
  package-lock.json
  package.json
Due: prettier --write

chore: fix tests
  e2e/goals.spec.js
  e2e/rpc.spec.js
Due: prettier --write

chore: code cleanup
  src/DayNote.elm
Due: elm-format --yes

chore: install and fix elm-review
  .husky/pre-commit
  package-lock.json
  package.json
  review/elm.json
  review/src/ReviewConfig.elm
  src/Calendar.elm
  src/Day.elm
  src/DayNote.elm
  src/Goal.elm
  src/Goals.elm
  src/Main.elm
  src/Utils.elm
Due: elm-format --yes, prettier --write

chore: refactor goals
  src/Goal.elm
  src/Goals.elm
Due: elm-format --yes

chore: add a dev container config
  .devcontainer/devcontainer.json
  vite.config.ts
Due: prettier --write

chore: code cleanup
  src/Goal.elm
Due: elm-format --yes

chore: code improvements
  src/Main.elm
Due: elm-format --yes

feat: updated dialogues UI
  src/Calendar.elm
  src/Day.elm
  src/Goal.elm
  src/Goals.elm
  src/Main.elm
  src/UI/Dialog.elm
  src/Utils.elm
  src/app.css
Due: elm-format --yes, prettier --write

chore: fix ui issue with updating calendar
  src/Calendar.elm
  src/Goal.elm
Due: elm-format --yes

chore: fix tests and data preservation
  e2e/goals.spec.js
  src/Main.elm
  src/UI/Dialog.elm
Due: elm-format --yes, prettier --write
